.App {
  text-align: center;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

h1 {
  color: #093A69;
  font-size: 75px;
  margin-bottom: 0px;
}

label {
  color: #0D3B67;
  text-transform: uppercase;
  font-weight: 300;
}

input {
  margin: 17px;
  width: 325px;
  height: 50px;
  text-transform: uppercase;
  background-color: #EDF5E1;
  border: none;
  text-align: center;
  font-weight: 200;
  font-family: 'Open Sans';
  font-size: 14px;
}

input::placeholder {
  font-weight: 200;
  font-family: 'Open Sans';
}

input#cover  {
  text-transform: none !important;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: #5ED994;
}

.comicList {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  background-color: #093A69;
  overflow: auto;
}

.show-comics {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  background-color: #093A69;
  overflow: auto;
}

.show-comics button {
  background-color: #5ED994;
  color: #093A69;
}

.show-comics h1 {
  color: #5ED994;
}

.publisher-select {
  margin: 17px;
  width: 325px;
  height: 50px;
  text-transform: uppercase;
  background-color: #EDF5E1;
  border: none;
  text-align: center;
}

.publisher-select .Select-control {
  border: none !important;
  height: 50px;
  background-color: #EDF5E1;
  font-weight: 200;
  font-family: 'Open Sans';
  font-size: 14px;
}

.publisher-select .Select-control .Select-value {
  display: flex;
  justify-content: center;
  align-items: center;
}

.option {
  background-color: #EDF5E1;
  font-weight: 200;
  font-family: 'Open Sans';
  font-size: 14px;
}

.volumes {
  display: flex;
  flex-direction: column;
}

.volumes-with-name {
  display: flex;
  width: 39%;
}

.volume-name {
  display: flex;
  flex-direction: column;
}

.volume-number {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.number-fit {
  width: 59px;
  margin: 17px 0px;
}

.name-fit {
  width: 241px;
}

button {
  border: none;
  padding: 17px 39px;
  margin: 17px;
  color: #EDF5E1;
  font-size: 16px;
  font-weight: 100;
  background-color: #093A69;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
